.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.DS_Store
.rvmrc
db/sphinx/*
db/schema.rb
rerun.txt
db/test.sqlite3  
db/development.sqlite3
doc/api
doc/app
config/database.yml
coverage/*
db/schema.rb
public/system/*
public/images/*
public/pdfs/*
doc/TODO.txt
mkmf.log
solr/data/*
capybara*
