<% @page_title = 'Forgot My Password' -%>

<p><%= link_to('&laquo; Back'.html_safe, {:action => 'new'}, {:class => 'back-link'}) %></p>

<p>Passwords are encrypted before being stored in our database. Therefore it is not possible for us to send you current password or for our staff to look it up for you. However, you can have your password reset to a random password and emailed to the email address on your account. Once you log in with your new password, you'll be able to change it to anything you like.</p>

<%= form_tag(staff_send_new_password_path, :method => :put) do -%>
  <table>
    <tr>
      <th>Username:</th>
      <td><%= text_field_tag(:username) %></td>
      <td><%= submit_tag('Reset My Password') %></td>
    </tr>
  </table>
<% end -%>

