Password Reset

A request has been made to reset your password.

Passwords are encrypted before being stored in our database. Therefore it is not possible for us to send you current password or for our staff to look it up for you. Instead your password is set to a randomly generated password and emailed to the email address on your account.

Once you log in with your new password, you'll be able to change it to anything you like.

Your new password is: <%= @password %>

If you did not request this password change or if you have any other problems, let us know at <%= SUPPORT_EMAIL %>.

Sincerely,
<%= BRAND %>
