<!--[if lte IE 6]>
<div id="ie6-alert">
  <p>The Internet has come a long way. Unfortunately, you are using a version of Internet Explorer which is over ten years old and has not kept up.</p>
  <p>You will need to <a href="http://www.microsoft.com/ie8" title="Upgrade Your Browser" target="_blank">upgrade your browser</a> before using <%= WEBSITE %>.</p>
</div>
<![endif]-->
